@media screen and (max-width: 1110px){
   /* header--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
    header{
        height:40px;
    }


    .header-list{
        display:none;
    }
    .header-logo-wrapper{
        display:inline-block;
        
    }
    
    /* header内トグル--------------------------------------------------- */
    #guru-toggle {
        display:inline-block;
        color:#484848;
        margin-top:30px;
        margin-left:0px;
        width:20px;
        height:20px;
        border:1px solid white;
        transition:0.3s ;
     }

    #guru-toggle.FrameExpand {
        width:20px;
        height:20px;
        border:1px solid white;
        transform:rotate(-180deg);
        transition:0.3s;  
    }
      

    
}
.rock{
    overflow:scroll;
}

/* header---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
header{
    height:80px;
    border-bottom:2px solid #FEF4F4;
}

.header-left{
    display:inline-block;
    position:absolute;
    z-index: 9999;
}
.header-logo{
    float:left;
    margin-right:0px;
}
.header-link{
    float:left;
}
/* serch-wrapper----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* 検索ボックス */
.serch-wrapper{
    position: absolute;
    left:70px;

}
#serch-box{
    display:flex;
    position:relative;
    min-width:400px;
    margin-top:12px;	
    margin-bottom:12px;
}

#serch-child{ /* 検索ボックス */
height:50px;
min-width:380px;
padding-left:50px; 
position:absolute;
margin-right: 50px;  
left:0;
top:0; 
border:2px solid #eee;
border-radius:4px;
outline:0;
background-color:white;	
box-shadow: 0px 1px 5px rgb(214, 211, 211);
transition: all .6s ease;
}

#serch-child:focus{
    max-width:600px;
    min-width:340px;
    transition:0.6s;
}

#serch-child:focus::after{
    max-width:600px;
    min-width:340px;
    transition:0.2s;
}

.fa-search{
height:20px;
width:20px;
position:absolute; 
left:5px;/*アイコン左右の位置調整*/
top:15px;
color:#484848;
background:white;
border:none;
font-size:14px;/*アイコンサイズ*/
}

.flex{
    display:flex;
}

.fa-angle-down{
   display: none; 
}


input::placeholder{
    font-size:17px;
    font-weight: bold;
    color:#484848;
    opacity:0.7;
}
/* </serch-wrapper>------------------------------------------------------------------------------ */


/* header------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
.header-list{
    overflow: hidden;
}


.header-right{
    margin-right:85px;
}
.nav-link {
    font-weight: bold;
    font-size: 14px;
    position: relative;
    display: inline-block;
    text-decoration: none;

}

.nav-link::after {
    position: absolute;
    bottom: 2px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #333;
    opacity: 0;
    visibility: hidden;
}

.nav-link:hover:after {
    opacity: 1;
    visibility: visible;
    bottom: -21px;
    text-decoration: none; 
}


.clear {
    clear: left;
}



header img {
    width: 55px;
    margin: 15px 3px 5px 10px;
}

.header-right {
    float: right;
}

.header-right li {
    margin: 20px auto;
    list-style: none;
    float: left;
}


/* モーダルリスト ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.modal-wrapper{
    display:none;
    height:140%;
    background-color:rgb(255, 255, 255,1);
    position:absolute;
    top:-10px;
    width:100%;
    z-index:9997;
}
.list-icon{
    float:right;
    position: relative;
    top:-10px;
    opacity:0.8;
}

.modal-wrapper a{
    color:#484848;
    
    font-size:16px;
    padding-top:15px;
    padding-bottom:15px;
}

.modal-list li{
    margin-top:30px;
    margin-bottom:30px;
}

.home{
    padding-top:110px;
    padding-bottom:15px;
    border-bottom:2px solid #FEF4F4;
}

.modal-list01,.modal-list02,.modal-list03,.modal-list04{
    border-bottom:2px solid #FEF4F4;
}
.modal-list02{
    padding-bottom:0px;
}

.fa-room{
    width:45px;
}
.bold{
    font-weight:bold;
    font-size:14px;
}
/* -</modal>------------------------------------------------------------------- */

/* top-wrapper---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.top-wrapper{
    margin-top:30px;
}

.form-text {
    margin-bottom: 15px;
    margin-left: 5px;
}

.input {
    max-width:682px;
    height: 45px;
    margin-bottom: 20px;
    border: 2px solid #eee;
}

.button2 {
    width: 190px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(0, 132, 137, 0.5);
    display:inline-block;
    border-radius: 4px;
    opacity: 0.7;
}

.btn2 {
    padding-bottom: 20px;
    font-weight: bold;
    color: #eee;
}


.button2::after{
    content: '';
    position: absolute;
    left: 48%;
    bottom: -45px;/*線の上下位置*/
    display: inline-block;
    /* width: 1050px; */
    
    /*線の長さ*/
    height: 1px;線の太さ
    transform: translate(-50%);/*位置調整*/
    background-color:#eee;/*線の色*/
    border-radius: 2px;/*線の丸み*/
}


/* info------------------------------------------------------------------------------------------------ */
.info-list{
    border-bottom:2px solid #FEF4F4;
}

.info-menu{
    margin-top:65px;
    width:25%;
    float:left;
    display:block;
}

.info-menu a{
    color:#767676;
    font-weight: bold;
    font-size:14px;
}

.info-menu p{
    font-weight: bold;
    color: #484848;

}

.fab{
    font-size:20px;
    margin-right:15px;
    margin-bottom:18px;
    opacity:0.8;
}

/* footer---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.footer-section{
    position: relative;
    z-index: 0;
    top:0;
    border-top:2px solid #FEF4F4 !important;
}

.footer-left{
    margin-top:50px;
    justify-content:flex-start;
}

.footer-logo{
    margin-top:20px;
    width: 30px;
    height:30px;
    display:inline-block;
    vertical-align: middle;

}
.footer-text{
    position: relative;
    z-index:1;
    display:inline-block;
}
.footer-text a,p{
    position:relative;
    z-index:-1;
    color: #767676;
    display: block;
    font-weight:bold;
    opacity:0.8;
}

